<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :memo, style: "display: block" %>
    <%= form.text_area :memo %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<%# froala Video plugin %>
<link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/plugins/video.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/plugins/video.min.js"></script>

<script>
  new FroalaEditor('#user_memo', {
    imageUploadURL: "/attachments/attach.json",
    imageUploadMethod: "POST",
    events: {
      'image.beforeRemove': (image) => {
        const image_url_ary = image[0].currentSrc.split("/")
        const id = image_url_ary.slice(image_url_ary.length - 2, image_url_ary.length - 1)
        const url = "/attachments/remove/" + id[0]
        fetch(url)
          .then((response) => {
            if (!response.ok) {
              throw new Error('Network response was not OK');
            }
            return response.json();
          })
          .then((json) => {
            // 成功
            return true;
          })
          .catch((error) => {
            console.error('There has been a problem with your fetch operation:', error);
            return false;
          });
      }
    }
  });
</script>   
